<!DOCTYPE html>
<html>
  <head>
    <title>Yelp</title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/bootstrap' %>
  </head>

  <body>
    <! This goes at the top of the app>
    <! Contains the nav bar>
    <%= render 'layouts/navbar' %>
    <div class="container-fluid">
    <%= yield %>
    <! copyright footer>
    <%= render 'layouts/footer' %>
    </div>
 </body>
</html>

